<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AgGateway.ADAPT.Visualizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <AgGateway.ADAPT.Visualizer.Properties.Settings>
            <setting name="PluginPath" serializeAs="String">
                <value>c:\plugins</value>
            </setting>
            <setting name="ImportPath" serializeAs="String">
                <value>c:\data</value>
            </setting>
            <setting name="ExportPath" serializeAs="String">
                <value>c:\export</value>
            </setting>
            <setting name="InitializeString" serializeAs="String">
                <value/>
            </setting>
            <setting name="ProprietaryValues" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>TestKey;TestValue</string>
                    </ArrayOfString>
                </value>
            </setting>
        </AgGateway.ADAPT.Visualizer.Properties.Settings>
    </userSettings>
</configuration>
